@model MS.Web.Models.Product

@{
    ViewBag.Title = "Product Name and Price";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>NameAndPrice</h2>
<div>
    Name: @Model.Name, Price: @Model.Price
</div>
