@model MS.Web.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var product in Model.Products)
{
    @Html.Partial("ProductSummary", product)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, page => Url.Action("List", new { page = page }))
</div>
